<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6" style="background: rgb(161, 159, 159); ">
                <ul class="contact_information">
                    <li><span><i class="bi bi-geo-alt" alt="#"></i></span><span
                            class="text_cont" style="color: black;">24 rue St Jean du Pérot<br>17000 La Rochelle</span></li>
                            <li><span><i class="bi bi-geo-alt" alt="#"></i></span><span class="text_cont" style="color: black;">05
                                46 41 16 36</span></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background: rgb(161, 159, 159);">
                <ul class="contact_information">
                    <li><span><i class="bi bi-geo-alt" alt="#"></i></span>
                        <span class="text_cont" style="color: black;">accueil@cdij17.fr</span></li>
                            <li><span><i class="bi bi-geo-alt" alt="#"></i></span><span
                                class="text_cont" style="color: black;">www.infojeunesse17.com/</span></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background: rgb(161, 159, 159); ">
            <ul class="social_icon" >
                <li><a href="#" class="f">F</a></li>
                <li><a href="#" class="in">in</a></li>
                <li><a href="#" class="g">g+</a></li>
                <li><a href="#"class="t">t</a></li>
                
            </ul>
        </div>
    </div>
</div>
</div>

<div class="cpy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size: 10px;">Copyright © 2021 Design by <a href="https://www.univ-larochelle.fr">La Rochelle Université.</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->