<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" style="background: #fff;">
                <ul class="contact_information">
                    <li><span><img src="../../assets/images/location_icon.png" alt="#" /></span><span
                            class="text_cont" style="color: black;">24 rue St Jean du Pérot<br>17000 La Rochelle</span></li>
                            <li><span><img src="../../assets/images/phone_icon.png" alt="#" /></span><span class="text_cont" style="color: black;">05
                                46 41 16 36</span></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background: #fff;">
                <ul class="contact_information">
                    <li><span><img src="../../assets/images/mail_icon.png" alt="#" /></span>
                        <span class="text_cont" style="color: black;">accueil@cdij17.fr</span></li>
                            <li><span><img src="../../assets/images/search_icon.png" alt="#" /></span><span
                                class="text_cont" style="color: black;">www.infojeunesse17.com/</span></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background: #fff;">
            <ul class="social_icon">
                <li><a href="#"><img src="../../assets/images/Icône_De_Médias_Sociaux_Facebook_Logo_Facebook__Clipart_De_Logo__Des_Icônes_Sur_Facebook__Icônes_Sociales_PNG_et_vecteur_pour_téléchargement_gratuit-removebg-preview.png" style="width: 100px;"></a></li>
                <li><a href="#"><img src="../../assets/images/Google_Plus_Social_Media_Icon_Design_Template_Vector__Google_Icons__Social_Icons__Plus_Icons_PNG_and_Vector_with_Transparent_Background_for_Free_Download-removebg-preview.png" style="width: 100px;"></a></li>
                <li><a href="#"><img src="../../assets/images/Icon_Logo__Twitter_logo__Twitter_logo__blue__social_Media__area_png-removebg-preview.png" style="width: 25px;"></a></li>
                
            </ul>
        </div>
    </div>
</div>
</div>

<div class="cpy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © 2021 Design by <a href="https://www.univ-larochelle.fr">La Rochelle Université</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->