<!-- <ul>
    <li><a href="default.html">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>  -->
  <mat-toolbar color="primary">
    <mat-icon>forum</mat-icon>
    <span>CDIJ</span>

    <div class="spacer">   </div>
        <a mat-button routerLink="Home">Home</a>
        <a mat-button routerLink="Forum">Forum</a>
        <a mat-button routerLink="LetsDebate">Let's Debate</a>
        <a mat-raised-button color="accent" routerLink="CreateDebate">Create a Debate</a>
 
  </mat-toolbar>
  