<div class="main-layout">
    <!-- loader  
        <div class="loader_bg">
            <div class="loader"><img src="../../assets/images/loading.gif" alt="" /></div>
        </div>
        end loader -->

    <div class="banner-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div id="slider_main">
                        <div> 
                            <div> 
                                <main class="main-content">
                                    <div class="fullwidth-block" data-bg-color="#0f75bd" style="height: 400px;">
                                        <div class="container">
                                            <div style="width: 710px; text-align:center; padding:0; padding-top: 25px; padding-bottom: 25px; padding-left: 0.25cm; padding-right: 0.4cm;">
                                                <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
                                                    [imageSize]="{width: '100%', height: 350}" [imagePopup]="false" [animationSpeed]="2"
                                                    slideImage="1"></ng-image-slider>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                                <!--<img src="../../assets/images/debat.jpg" alt="#" /> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="full slider_cont_section">
                        <h3 class="titreglissant">Plateforme Debathon,</h3>
                        <h4>Votre nouveau outil d'expression</h4>
                        <p class="animation">It is a long established fact 
                        that a reader will be distracted by 
                        the readable content of the readable
                        content of a page when looking at its
                        layout. The point of using Lorem is
                        that it has amore-or-less normal 
                        distribution of letters.</p>    
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3></h3>
    <!-- end revolution slider -->
    <!-- image slider pour les debats live  -->
   <!-- <div class="test">
        <h1> L</h1>
        <h1> I</h1>
        <h1> V</h1>
        <h1> E</h1>
    </div>
    
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
-->

    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3>Qui sommes <span class="orange_color">Nous</span></h3>
                    </div>
                </div>
            </div>
            
            <div class="row margin_top_30">
                <div class="col-md-6">
                    <img src="../../assets/images/fevicon.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h4>Le réseau IJ Information Jeunesse</h4>
                        <h5>Notre mission</h5>
                        <p>Accueillir gratuitement
                            et anonymement tous les jeunes pour les 
                            renseigner dans tous les domaines qui les
                            concernent : orientation, emploi, vie 
                            pratique, mobilité internationale, engagement.
                        </p>
                        <p> Labellisées par le Ministère en charge de
                            la Jeunesse ces structures ont toutes une 
                            mission de service public : celle de garantir
                            l’accès à l’Information pour tous les jeunes.
                            Chaque année se sont plus 3 millions de jeunes 
                            qui sont accueillis et informés dans notre réseau.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row margin_top_30">
                <div class="col-md-12">
                    <div class="button_section full center margin_top_30">
                        <a style="margin:0;" href="https://www.infojeunesse17.com">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- footer -->
    <!-- Javascript files-->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/jquery-3.0.0.min.js"></script>
    <script src="../../assets/js/plugin.js"></script>
    <!-- Scrollbar Js Files -->
    <script src="../../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/custom.js"></script>
</div>